body {
background-color: #232629;
}

#schedule{
color: white;
}

th {
border-bottom: 1px solid #99aab5;
}

.schedUnpaired {
    background-color: yellow;
}
.schedPaired {
    background-color: green;
}


